<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Document</title>
</head>
<body>
    <h1 class="body-h1" style="text-align: center;">this is ejs exapmle</h1>
    <% if(loged){%>
        <%- include("headerpart/header")%>
    <h3 style="margin: 30px;">welcome to ejs example: <%=name%></h3>
    <%} else{%>
        <h2>please login/signin to access ejs examples</h2>
        <form style="display: inline-flex; flex-direction: column; margin: 20px; justify-content: center;">
            <input type="text" placeholder="sing in" required>
             <input type="password" placeholder="enter your password" required>
              <input type="password" placeholder="confirm password" required>
        </form>
        <button 
        style="background-color: rgb(138, 219, 138); color: rgb(10, 10, 10); :hover{ background-color: green; color: white;} "
        >
        sign in
    </button>
        <%}%>
</body>
</html>