body, html, #root, .app {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #201e1e;
}

section {
  padding: 60px 20px;
}

a {
  text-decoration: none;
  color: #000000;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}
.navbar-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(79, 116, 248);
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.hero a {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
}
.skills-container {
  max-width: 800px;
  margin: auto;
}

.skill-card {
  padding: 15px 25px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #1a0303;
  font-weight: 500;
}
.contact {
  width: 80%;
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
}

.contact h2 {
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #333;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  border-top: 1px solid #cccccc;
}
@media (max-width: 768px) {
  .navbar ul {
    gap: 10px;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
}
